.footer {
    background-color: #BDED35;
    padding: 60px 0;

    &__text {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: center;
    }
}

@media (max-width: 1300px) {
    .footer {

        &__text {
            font-size: 24px;
        }
    }
}

@media (max-width: 1020px) {
    .footer {
        padding: 50px 0;

        &__text {
            font-size: 20px;
        }
    }
}

@media (max-width: 760px) {
    .footer {
        padding: 40px 0;

        &__text {
            font-size: 16px;
        }
    }
}