.hero {
    display: flex;
    padding-top: 196px;
    padding-bottom: 156px;

    &__bg-stars {
        background: 
            url(../img/Stars1.svg) no-repeat 63px 69px, 
            url(../img/Stars2.svg) no-repeat calc(100% - 344px) calc(100% - 59px), 
            url(../img/BigStars.svg) no-repeat calc(100% + (1074px - 596px)) calc(100% + 90px),
            #E1FF8F;
    }

    &__title {
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 24px;
    }

    &__text {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 48px;
    }

    &__button {
        display: inline-block;
        color: rgb(255, 255, 255);
        background-color: #000;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;

        padding: 16px 65px;
        border-radius: 90px;
        transition: all 0.2s ease-in-out;
    }

    &__button:hover {
        outline: 1px solid rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        background-color: #fff;
        



        // animation: scale 0.2s ease-in-out;
        // animation-fill-mode: forwards;
    }
}

