@import '_fonts';
@import '_null-style';
@import '_var';


html {
    scroll-behavior: smooth;
}

.center {
    padding-left: calc(50% - (1200px / 2));
    padding-right: calc(50% - (1200px / 2));
}

@media (max-width: 1300px) {
    .center {
        padding-left: calc(50% - (950px / 2));
        padding-right: calc(50% - (950px / 2));
    }
}

@media (max-width: 1020px) {
    .center {
        padding-left: calc(50% - (700px / 2));
        padding-right: calc(50% - (700px / 2));
    }
}

@media (max-width: 760px) {
    .center {
        padding-left: calc(50% - (500px / 2));
        padding-right: calc(50% - (500px / 2));
    }
}

@import 'hero';
@import 'belt';
@import 'about-games';
@import 'mini-games';
@import 'footer';
